/* Start Page*/

.start_header {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 50px;
    padding-top: 20px;
}

.start_cont {
    margin-left: 30%;
    margin-right: 30%;
    width: 25%;
    padding: 15px;
    
}





/* First Fight */

.first_fight h1{
    color: white;
    text-align: center;
}

.first_fight img {
    padding-bottom: 20px;
    padding-left: 25px;
    width: 200px;
}


.textbox_first {
    border: 2px blue solid;
    font-size: 22px;
    color: white;
    text-align: center;
}
.links_first {
    margin: auto;
    display: flex;
    padding: 15px;
    width: 95%;
}

.links_first a, button{
    justify-content: center;
    width: 450px;
    height: 70px;
}
.links_first button:hover {
    background-color: rgb(59, 1, 250);
}